@font-face {
  font-family: 'GlossAndBloom';
  src: url('../fonts/Gloss_And_Bloom.ttf');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway-Black.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../fonts/Raleway-ExtraLight.ttf');
}

h3{
  font-family: 'GlossAndBloom';
  font-size: 4em;
  padding: 5%;
  text-shadow: 2px 2px #000000;
}


header{
  height: 100vh;
  background-size: cover;
}

#map {
  height: 70vh;
  width: 100%;
}

.astro{
  #astronames{
    padding: 2%;
    .name{
      font-family: 'Raleway-ExtraBold';
    }
  }
}

.info{
  height: 45vh;
  background-size: cover;
  font-family: 'Raleway-ExtraBold';
  color: white;
  .infos{
    font-size: 3em;
    text-shadow: 2px 2px #000000;
  }
}

.def{
  padding: 2%;
}
footer{
  height: 35vh;
  background-size: cover;
}
